@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');

*{
  font-family: "mulish";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, section, summary, article, footer{
  background-color: #ccdbdc;
  padding: 25px;
}

.title{
  font-weight: bold;
  color: white;
  background-color: #ccdbdc;
  padding: 25px;
}

#navi {
 text-align: center;
 background-color: #c4acb3; 
 padding: 25px;
}

li > a {
  font-family: "roboto";
  text-decoration: none;
  color: white
}
li:hover{
  font-weight: bold;
}
h2 > a {
  color: white;
  text-decoration: none;
}
h2 > a:hover {
  text-decoration: underline;
  text-decoration-color: #c4acb3;
}
h3, p, th, td,label{
  padding: 25px;
  color: #4c5c64;
}

#about #wrk #rsme #contakt {
  color: white;
  font-weight: bold;
}

#about #wrk #rsme #contakt {
  color: white;
  font-weight: bold;
}

li{
  display: inline;
  margin: 5px 5px 5px 5px;
}

section{
  padding: 25px;
}

#about{
  padding: 25px;
}

.sorti{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p > a {
 color: #c4acb3 ; 
}

#video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input{
  margin: 25px;
  padding: 10px ;
  color: #4c5c64;
}
button{
  margin: 25px;
  padding: 5px;
  background: none;
  border: 3px solid #c4acb3;
  background-color: #c4acb3;
  border-radius: 10px;

}
button > a{
   text-decoration: none;
   color: white;
}
